.container{
margin-bottom: 100px;


}
.orange-bg{
   background-color: #fceae8;
   border-radius: 10px; 
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.Buy{
   background-image: linear-gradient(to bottom, #ff589b 0%,#ff136f 100%);
   color: white;
   border-radius: 8px;
   padding: 9px 25px;
   cursor: pointer;
}
.cat1{
background-color: orange;
}
.cat2{
background-color: orchid;
}
.cat3{
background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
} 
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
  
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}